@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", system-ui, sans-serif;
  color: #ffffff;
  background-color: #001831;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #001831;
}

@layer base {
  h1, h2, h3, h4, h5, h6 { color: #ffffff; }
  p { color: #5f656d; }
}
